body, html  {
  color: #FFFFFF;
}

select {
  border-color: #b8b8b8;
  -moz-box-shadow: inset 1px 1px 5px #ccc;
  box-shadow: inset 1px 1px 5px #ccc;
}

select:hover{
  -moz-box-shadow: inset 3px 3px 5px #ccc;
  box-shadow: inset 3px 3px 5px #ccc;
}

input[type="text"], input[type="password"]  {
  border: 1px solid #B8B8B8;
  box-shadow: 1px 1px 5px #CCC inset;
}

input[type="text"]:focus, input[type="password"]:focus {
  -moz-box-shadow: inset 3px 3px 5px #ccc;
  box-shadow: inset 3px 3px 5px #ccc;
}

input[type="submit"]:hover {
  box-shadow: 2px 2px 5px #535353 inset;
}

.anchor{
  color: #333;
}

#wrapper {
  background-image: url(./../images/dark-bg.jpg);
}

#header {
  background-color: #240033;
}

#grzb {
  color: #D3D3D3;
}

#sep {
  color: #D3D3D3;
}

#sync {
  color: white;
}

#systemmsg {
  border-color: 1px solid grey;
  background-color: lightgrey;
}

#privacypolicy {
  background-color: #333333;
  color: white;
  border-color: #B8B8B8;
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3); 
}

.error {
  color: #EB3B3B;
}

.channel {
  background-color: #333333;
  border-color: #B8B8B8;
}

.channel:hover {
  box-shadow: 0 0 4px #7c0fbe;
  -webkit-box-shadow: 0 0 4px #7c0fbe; 
  -moz-box-shadow: 0 0 4px #7c0fbe; 
}

.private {
  border-color: #B8B8B8;
  background-color: #7c0f10;
}

.public {
  border-color: #B8B8B8;
  background-color: #338633;
}

.clients {
  border-color: #B8B8B8;
}

#createchannel {
  background-color: grey;
  color: white;
  border-color: #B8B8B8;
}

#createchannel:hover {
  box-shadow: 2px 2px 5px #535353 inset;
}

#createchanneloverlay {
  background-color: #333333;
  border-color: black;
}

#createchanneloverlay input[type=submit] {
  background-color: grey;
  color: white;
  border-color: #B8B8B8;
}

#joinchanneloverlay {
  background-color: #333333;
  border-color: black;
}

#joinchanneloverlay input[type=submit] {
  background-color: grey;
  color: white;
  border-color: #B8B8B8;
}

#videocontainer {
  background-color: black;
}

#chatboxwrapper {
  background-color: #333333;
}

#chatbox {
  -moz-box-shadow: inset 0 0 4px #000000;
  -webkit-box-shadow: inset 0 0 4px #000000;
  box-shadow: inset 0 0 4px #000000;
 
}

#chatusers {
  background: #333333;
}

.chatuser {
  border-color: black;
}

.chatuser:hover {
  background-color: grey;
}

#chatsend {
  border-color: #B8B8B8;
  color: white;
  background-color: grey;
}

#chatsend:hover {
  box-shadow: 2px 2px 5px #535353 inset;
}

.statuser {
  background-color: #333333;
  border-color: lightgrey;
}

.statuser:hover {
  box-shadow: 0px 0px 7px #7c0fbe;
}

.peerusername {
  border-color: lightgrey;
}

.bufferbar {
  background-color: #7c0fbe;
}

.time {
  border-color: lightgrey;
}

#addmedia {
  background-color: grey;
  border-color: #B8B8B8;
}

#addmedia:hover {
  box-shadow: 2px 2px 5px #535353 inset;
}

#addmediainfo {
  background-color: darkgrey;
  border-color: #B8B8B8;
}

.seperator {
  background-color: grey;
}

.mediainfotextgrey {
  color: lightgrey;
}

#ytlogo {
  background-color: lightgrey;
}

#addmediainfodiv {
  background-color: #333333;
  border-color: #B8B8B8;
  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

#download {
  background-color: grey;
  border-color: #B8B8B8;
}

#download:hover {
  box-shadow: 2px 2px 5px #535353 inset;
}

#download a {
  color: #FFFFFF;
}

.plelement {
  border-color: #B8B8B8;
}

.mediafile {
  background-color: #333333;
}

.removemediafile {
  background-color: #7c0f10;
  border-color: #B8B8B8;
}

.mediafileinfo {
  background-color: #240033;
  border-color: #B8B8B8;
}

.handle {
  color: white;
}

.currentlyplaying {
  border-color: transparent transparent transparent #000000;
}

#footer {
  background-color: #240033;
  color: white;
}

#footer a {
  color: #FFFFFF;
}