.ad
  script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  ins.adsbygoogle(style="display:block" data-ad-client="#{google.adsense.adClient}" data-ad-slot="#{google.adsense.adSlot}" data-ad-format="auto")
  script (adsbygoogle = window.adsbygoogle || []).push({});
