extends layout

block append scripts
  script(src="/js/lib/video.js")
  script(src="/js/lib/videojs-resolution-switcher.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js")
  script(src="/js/lib/react-sortable-mixin.js")
  script(src="/js/lib/Linkify.js")
  script(src="/js/components/Channel/Video/VideoApp.js")
  script(src="/js/components/Channel/Playlist/PlaylistLoader.js")
  script(src="/js/components/Channel/Playlist/PlaylistControls.js")
  script(src="/js/components/Channel/Playlist/PlaylistItem.js")
  script(src="/js/components/Channel/Playlist/Playlist.js")
  script(src="/js/components/Channel/Playlist/PlaylistApp.js")
  script(src="/js/components/Channel/Chat/ChatControls.js")
  script(src="/js/components/Channel/Chat/ChatMessage.js")
  script(src="/js/components/Channel/Chat/ChatApp.js")
  script(src="/js/components/Channel/Users/UserItem.js")
  script(src="/js/components/Channel/Users/UserApp.js")
  script(src="/js/components/Channel/App.js")
  script(src="/js/channel.js")

block content
  #channeltitle #{data.name}
  #app-mount
