extends layout

block content
  #controls
    .forms
      .input-button
        input(type="text" id="username" placeholder="choose a username" value="#{data.username}")
        .button save

      .button
        a(href="/create") create a channel

    #description
      | AniSync - a service to synchronize media playback between browsers.
      br
      | Watch and listen to media files together with your friends all over the world!
      br
      | We support HTML5 videos from almost any site. Try it out, join a channel or create your own. (No registration required!)
  #app-mount