extends layout

block content
  form(method="post" action="").centered-form
    div
      if !data.username
        input(type="text" name="username" id="username_input" placeholder="username" required)

      if data.private
        input(type="password" name="password" id="password" placeholder="password" required)
        each error in data.errors
          if error == "wrongPassword"
            div(class="error") Wrong Password. Please try again.
          
      input(type="submit" value="join").button