//- This file is part of anisync.
//- Copyright (C) 2020 Jannes Grzebien
//- 
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU Affero General Public License as
//- published by the Free Software Foundation, either version 3 of the
//- License, or (at your option) any later version.
//- 
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU Affero General Public License for more details.
//- 
//- You should have received a copy of the GNU Affero General Public License
//- along with this program.  If not, see <http://www.gnu.org/licenses/>.
doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title AniSync α
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="https://vjs.zencdn.net/5.7.1/video-js.css")
    link(rel="stylesheet", type="text/css", href="/css/videojs-resolution-switcher.css")
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/loader.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    link(rel="stylesheet", type="text/css", href="/css/channel.css")
    link(rel="stylesheet", type="text/css", href="/css/playlist.css")
    link(rel="stylesheet", type="text/css", href="/css/chat.css")
    link(rel="stylesheet", type="text/css", href="/css/user.css")
    block scripts
      if google.analytics.enabled
        include analytics
      if piwik.enabled
        include piwik
      script(src="/js/socket.io/socket.io.js")
      script(src="https://unpkg.com/react@0.14.7/dist/react.min.js")
      script(src="https://unpkg.com/react-dom@0.14.7/dist/react-dom.js")
      script.
        var init = !{init ? JSON.stringify(init) : "\"\""};
        init.components = {[init.load]: {}, "lib": {"functions": {}}};
      script(src="/js/componentLoader.js")

  body
    #wrapper
      #header
        a(href="/") AniSync α
      #content
        block content
      #footer
        | Copyright © 2016 AniSync α · 
        a(href="https://github.com/Yurifag/anisync") GitHub · 
        a(href="/policy") Privacy Policy
