#app
  display flex

.left
  min-width 400px
  max-width 70%
  flex-shrink 0
  flex-grow 1

.vjs-big-play-button
  display none !important
  
.right
  max-width 30%
  flex-grow 1

#channeltitle
  padding 10px
  width 100%
  font-size 25px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  
@media all and (max-width: 900px), all and (orientation: portrait)
  #content
    padding 0 10px 80px
  
  #app
    flex-wrap wrap
  
  #app .left
    width 100%
    max-width 100%
    
  #app .right
    width 100%
    max-width 100%
    