#channeltitle
  padding 10px
  width 100%
  font-size 25px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis

.vjs-big-play-button
  display none !important

#app
  display flex
  flex-wrap wrap
  
#video-app
  order 1
  width 70%
  
#chat-app
  order 2
  width 30%
  
#playlist-app
  order 3
  width 70%
  
#users-app
  order 4
  width 30%
  padding-left 10px

@media all and (max-width: 900px), all and (orientation: portrait)
  #content
    padding 0 10px 80px
  
  #video-app
    order 1
    width 100%
  
  #chat-app
    order 3
    height 400px
    width 100%
    
  #playlist-app
    order 2
    width 100%
    
  #users-app
    order 4
    width 100%