#app
  display flex
  flex-wrap wrap

.left
  min-width 400px
  flex-basis 70%
  flex-shrink 0
  flex-grow 1

#video_container
  background-color black
  flex-grow 1

.vjs-big-play-button
  display none !important
  
.right
  flex-basis 30%
  flex-grow 1

#channeltitle
  padding 10px
  width 100%
  font-size 25px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis