#chat-app
  display flex
  flex-direction column
  background-color #e0e0e0

#chat-wrapper
  overflow-y scroll
  color #424242
  flex-grow 1
  word-wrap break-word
  height 0

#chat
  padding 5px
  
#chat a
  color #424242

#chat-app .message
  overflow auto
  width 100%
  margin-top 3px

#chat-app .header
  font-size 14px

#chat-app .time
  margin-right 5px

#chat-app .username
  font-weight bold

#chat-app .info
  font-weight bold

#chat-app .input-button
  background-color #eeeeee

#chat-app .input-button input
  width calc(100% - 50px)