#chat-app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #e0e0e0;
}
#chat {
  color: #424242;
  flex-grow: 1;
  width: 100%;
  word-break: break-all;
  overflow-y: scroll;
  padding: 5px;
}
#chat-app .message {
  overflow: auto;
  width: 100%;
}
#chat-app .username {
  font-weight: bold;
  margin-right: 5px;
  float: left;
}
#chat-app .text {
  float: left;
}
#chat-app .info {
  font-weight: bold;
  float: left;
}
#chat-app .input-button {
  width: 100%;
  height: 40px;
  background-color: #eee;
  display: flex;
}
#chat-app input {
  flex-grow: 1;
}
