#chat-app
  display flex
  flex-direction column
  background-color #e0e0e0

#chat
  color #424242
  flex-grow 1
  width 100%
  word-wrap break-word
  overflow-y scroll
  padding 5px

#chat-app .message
  overflow auto
  width 100%

#chat-app .username
  font-weight bold
  margin-right 5px

#chat-app .info
  font-weight bold

#chat-app .input-button
  width 100%
  height 40px
  background-color #eeeeee
  display flex

#chat-app .input-button input
  width calc(100% - 50px)