#app-mount
  margin-bottom 50px

#controls
  margin-top 50px
  
#controls .forms
  float right
  margin-left 20px
  width 300px

#controls .forms .input-button
  margin-bottom 10px

#controls .forms .button a
  display block

#controls #description
  font-size 20px
  width 100%
  

#channelControls
  margin-top 20px

#channelControls div
  margin-top 10px

#channelControls label
  display inline-block

#channels
  margin-top 20px

#channels li
  list-style-type none
  overflow hidden

#channels .channel
  width 100%
  height 40px
  line-height 38px
  vertical-align middle
  text-align center
  background-color #E0E0E0
  margin-bottom 10px
  border 1px solid #E0E0E0
  transition all 0.3s ease 0s

#channels .channel a
  display flex

#channels .channel .type
  height 100%
  width 50px
  color #FFFFFF
  
#channels .channel .type.private
  background-color #FF6E6E
  
#channels .channel .type.public
  background-color #7FD67A

#channels .channel .name
  width 100%
  height 100%
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  color #424242
  flex-grow 1

#channels .channel .usercount
  height 100%
  width 60px
  color #FFFFFF
  background-color #727272
  
#channels .channel .usercount .fa
  margin-right 8px
