#playlist-controls {
  height: 61px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#playlist-controls label {
  display: inline-block;
  margin-bottom: 3px;
}
#playlist-controls input {
  flex-grow: 1;
}
#playlist-controls input:disabled {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  padding-left: 50px;
  transition: all 0.3s ease 0s;
}
#playlist-controls button:disabled {
  background-color: #808080;
  cursor: default;
}
#playlist-controls button:disabled:hover {
  background-color: #808080;
}
#playlist {
  flex-grow: 1;
  margin-top: 30px;
}
#playlist li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  color: #424242;
  background-color: #e0e0e0;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style-type: none;
  overflow: hidden;
}
#playlist li .drag {
  text-align: center;
  color: #fff;
  background-color: #727272;
  height: 40px;
  width: 50px;
  float: left;
  cursor: move;
  user-select: none;
  -moz-user-select: none;
}
#playlist li .title {
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  cursor: pointer;
}
#playlist li .remove {
  text-align: center;
  color: #fff;
  background-color: #727272;
  height: 40px;
  width: 50px;
  float: right;
  cursor: pointer;
}
#playlist .selected {
  box-shadow: 0 0 0 3px #563b8f;
}
