#playlist-controls
  margin-top 10px
  margin-bottom 10px
  
#playlist-controls label
  display inline-block
  margin-bottom 3px

#playlist-controls input, #playlist-controls select
  flex-grow 1

#playlist-controls input:disabled
  background-color #E0E0E0
  border-color #E0E0E0
  padding-left 50px
  transition all 0.3s ease 0s

#playlist-controls button:disabled
  background-color grey
  cursor default
  &:hover
    background-color grey
    
#playlist-controls .la-ball-clip-rotate
  margin 4px 0 0 8px
    
#playlist-controls #loader
  margin-top 15px
  
#playlist-controls #loader .input-button
  margin-top 5px
  width 400px

#playlist-controls .load
  width 50px
  
#playlist-controls .remove
  width 70px
  
#playlist-controls .save
  width 120px

#playlist
  flex-grow 1
  margin 30px 0 20px 0
  padding 5px
  overflow-y scroll
  max-height 488px

#playlist li
  width 100%
  height 40px
  line-height 40px
  vertical-align middle
  color #424242
  background-color #E0E0E0
  margin-top 8px
  margin-bottom 8px
  list-style-type none
  overflow hidden
  transition all 0.3s ease 0s

#playlist li.refreshing
  cursor default
  background-color #727272
  
#playlist .la-ball-clip-rotate
  margin 4px 8px 0 8px
  position relative
  float left
  color #FFFFFF
  
#playlist li.error
  background-color #FF6E6E
  
#playlist li .drag
  text-align center
  color #FFFFFF
  background-color #727272
  height 40px
  width 50px
  float left
  cursor move
  user-select none
  -moz-user-select none

#playlist li .title
  height 100%
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  margin-left 50px
  margin-right 50px
  text-align center
  cursor pointer

#playlist li .remove
  text-align center
  color #FFFFFF
  background-color #727272
  height 40px
  width 50px
  float right
  cursor pointer

#playlist .selected
  box-shadow 0 0 0 3px #563B8F