@import url(https://fonts.googleapis.com/css?family=Exo\+2)

body, html
  height 100%
  font-family 'Exo 2', sans-serif
  color #FFFFFF

a
  color #fefcff
  text-decoration none

button
  font-family 'Exo 2', sans-serif
  font-size 16px

input[type=text], input[type=password]
  font-family 'Exo 2', sans-serif
  height 40px
  font-size 16px
  padding 5px
  color #3C3C3C
  border-style solid
  border-width 0 0 3px 0
  border-color rgba(255, 255, 255, 1)
  transition all 0.3s ease 0s
  &:focus
    transition all 0.3s ease 0s
    border-color #563B8F

select
  border 0
  outline none
  padding 5px
  color #3C3C3C
  font-family "Exo 2", sans-serif
  font-size 16px
  
select:-moz-focusring
  color transparent
  text-shadow 0 0 0 #3C3C3C

input[type=text].error, input[type=password].error
  transition all 0.3s ease 0s
  border-color #FF6E6E
  
div.error
  margin-top 4px
  font-size 14px
  color #FF6E6E

input[type=checkbox]
  width 13px
  height 13px
  vertical-align bottom
  position relative
  top -1px
  margin-right 5px

input[type=submit]
  font-size 16px
  font-family 'Exo 2', sans-serif

button, .button
  height 40px
  border none
  text-align center;
  line-height 40px
  vertical-align middle;
  color #ffffff
  background-color #727272
  user-select none
  -moz-user-select none
  cursor pointer
  transition all 0.3s ease 0s
  &:hover
    transition all 0.3s ease 0s
    background-color #616161

.input-button
  display flex
  
.input-button input
  flex-grow 1

.input-button button
  width 50px
  flex-shrink 0
  
.text-danger
  color #D9534F

.seperator
  height 1px
  background-color #727272
  margin-top 25px
  margin-bottom 25px

.centered-form
  width 100%
  margin-top 100px
  display flex
  justify-content center
  flex-wrap wrap

.centered-form div
  width 250px

.centered-form input[type=text], input[type=password], input[type=submit]
  margin-top 10px
  width 100%

.centered-form input[type=checkbox]
  margin-top 15px
  
.hidden
  display none
  
.invisible
  visibility hidden

#header
  height 100px
  width 100%
  background-color #563B8F
  text-align center
  font-size 60px
  padding 10px

#wrapper
  min-height 100%
  position relative
  background-image url('../img/dark-bg.jpg')

#content
  padding 0 10% 80px

#privacy-policy
  padding-top 50px

#footer
  height 50px
  width 100%
  position absolute
  bottom 0
  left 0
  text-align center
  vertical-align middle
  line-height 50px
  background-color #563B8F

#banned
  margin-top 100px
  width 100%
  text-align center

.ad
  width 100%
  text-align center
