#users
  margin-top 20px
  margin-left 10px

#users li
  list-style-type none

#users .user
  width 100%
  background-color #FFFFFF
  height 32px
  margin-top 5px
  border 1px solid #424242
  color #424242
  line-height 30px

#users .username
  height 100%
  width 100%
  text-align center
  vertical-align middle
  padding-left 10px
  padding-right 60px

#users .time
  float right
  height 100%
  width 60px
  border-left 1px solid #424242
  padding-left 8px

#users .progress
  height 2px
  width 100%
  position relative
  top -2px

#users .bufferProgress
  height 100%
  position absolute
  top 0 
  left 0
  background-color #b2b2b2
  transition width 0.5s linear
  
#users .timeProgress
  height 100%
  position absolute
  top 0 
  left 0
  background-color #8942d7
  transition width 0.5s linear