.vjs-resolution-button
  color #ccc
  font-family 'Exo 2', sans-serif

.vjs-resolution-button .vjs-resolution-button-staticlabel:before
  font-family FontAwesome
  content '\f013'
  font-size 1.8em
  line-height 1.67

.vjs-resolution-button .vjs-resolution-button-label
  font-size 1.2em
  line-height 2.30em
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  text-align center
  box-sizing inherit

.vjs-resolution-button ul.vjs-menu-content
  width 6em !important

.vjs-resolution-button .vjs-menu
  left 0

.vjs-resolution-button .vjs-menu li
  text-transform none